<main ng-controller="shot_listctrl">
  <div class="main-container-shots">
    <article class="col-xs-12 col-sm-4 col-md-3" ng-repeat="shot in list.data">
      <div class="shot-list_post">

        <a href="#/shots/{{ shot.id }}">
          <img class="img-responsive" ng-src="{{ shot.images.teaser }}"/>

          <h4 class="shot-post_title">{{ shot.title }}</h4>
          <p class="player" href="#/players/{{ shot.data.user.username }}">
            {{ shot.data.user.name }}
          </p>
          <div class="shot-post_stats">
            <span class="stat">
              <i class="glyphicon glyphicon-eye-open"></i>
              {{ shot.views_count }}
            </span>
            <span class="stat">
              <i class="glyphicon glyphicon-comment"></i>
              {{ shot.comments_count }}
            </span>
            <span class="stat">
              <i class="glyphicon glyphicon-heart"></i>
              {{ shot.likes_count }}
            </span>
            <span class=stat>
              <i class="glyphicon glyphicon-share-alt"></i>
              {{ shot.rebounds_count }}
            </span>
          </div>
        </a>
      </div>
    </article>
    <button class="btn btn-primary btn-block" ng-click="loadNexPage()">Load More</button>
  </div>
